<tr class="profile" data-identifier="{{ profile.identifier }}">
    <td>
        <a href="#" class="btn btn-sm btn-info" data-add-nb-paiement><i class="fas fa-plus"></i></a>
        <a href="#" class="btn btn-sm btn-warning" data-reset-nb-paiement><i class="fas fa-redo"></i></a>
    </td>
    <td>{{ profile.name }}</td>
    <td>
        <a href="https://www.erepublik.com/fr/citizen/profile/{{ profile.identifier }}" target="_blank" title="Page de {{ profile.name }}">
            {{ profile.identifier }}
        </a>
    </td>
    <td>{{ profile.unitemilitaire.name }}</td>
    <td>
        {#{% if profile.isAlive %}
            <span class="badge badge-success">Oui</span>
        {% else %}
            <span class="badge badge-danger">Non</span>
        {% endif %}
        {% if profile.isActive %}
            <span class="badge badge-success">Oui</span>
        {% else %}
            <span class="badge badge-danger">Non</span>
        {% endif %}#}
        {% if profile.status == constant('App\\Utils\\ProfileHelper::ACTIVE') %}
            <span class="badge badge-success">{{ profile.status|getStatusLabel }}</span>
        {% elseif profile.status == constant('App\\Utils\\ProfileHelper::DEAD') %}
            <span class="badge badge-danger">{{ profile.status|getStatusLabel }}</span>
        {% elseif profile.status == constant('App\\Utils\\ProfileHelper::INACTIVE') %}
            <span class="badge badge-warning">{{ profile.status|getStatusLabel }}</span>
        {% elseif profile.status == constant('App\\Utils\\ProfileHelper::LEVELMAX') %}
            <span class="badge badge-info">{{ profile.status|getStatusLabel }}</span>
        {% else %}
            <span class="badge badge-secondary">{{ profile.status|getStatusLabel }}</span>
        {% endif %}
    </td>
    <td>{{ profile.nbPaiementMissed }}</td>
    <td>
        <span class="badge badge-info">{{ profile.level }}</span>
    </td>
    <td>
        <span class="badge badge-info">{{ profile.planeLevel }}</span>
    </td>
    <td>
        {% if profile.createdAt is not null %}
            {{ profile.createdAt|date('d/m/Y') }}
        {% endif %}
    </td>
    <td>
        <a href="{{ path('profile_profile_show', {'id': profile.id}) }}">show</a>
        <a href="{{ path('profile_profile_edit', {'id': profile.id}) }}">edit</a>
    </td>
</tr>
